body {
    margin: 0px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
}

.section1 {
    display: flex;
    flex-direction: column;
    padding: 16px 256px 16px 256px;
}

.section1,
.section5 {
    background-color: #1F2937;
    display: flex;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a,
.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;   
}

.awesome {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 64px;
}

.awesome-text,
.image {
    width: 200px;
    display: flex;
}

.awesome-text {
    flex-direction: column;
    flex: auto;
    gap: 8px;
}

.image {
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    flex: auto;
}

#button1 {
    border: none;
    font-size: 18px;
    font-weight: 900;
    padding: 8px 32px 8px 32px;
}

.section2,
.section {
    display: flex;
    flex-direction: column;
}

.section2 {
    align-items: center;
    padding: 32px 256px 32px 256px;
}

.information {
    font-size: 36px;
    font-weight: 900;
    padding-bottom: 32px;
    color: #1F2937;
}

.deck {
    width: 1024px;
    padding: 0px;
    display: flex;
    justify-content: center;
    gap: 128px;
}

.card {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box {
    border: 6px solid rgb(55, 165, 255);
    border-radius: 16px;
    width: 150px;
    height: 150px;
}

.box-subtext {
    font-size: 20px;
    color: rgb(112, 112, 112);
    text-align: center;
}


.section3 {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}